body {
  font-family: Lucida Console, Monaco5, monospace;
  height: 100vh;
}

h1 {
  text-align: center;
}

#app {
  width: 100%;
}

#search {
  width: 400px;
  line-height: 35px;
  margin-bottom: 5px;
}
#itemContainer {
  width: 400px;
  margin: auto;
}
#listContainer {
  height: 400px;
  list-style-type: none;
  margin: 5px 0px;
  overflow-y: scroll;
  padding-left: 0px;
  border: 1px solid #666;
}

#buttonContainer {
  width: 100%;
  text-align: center;
}    

.list-item {
  line-height: 45px;
  max-height: 50px;
  overflow: hidden;
  margin: 5px 0;
  box-shadow: 5px 5px 5px #666;
  border: 1px solid #666;
  font-size: .85rem;
  padding: 0 3px;
  white-space: nowrap;
  text-overflow: ellipsis;

}

.list-item.open {
  max-height: none;
  white-space: normal;
}

.hidden {
  display: none;
}

input[type="button"] {
  width: 90px;
  background: #129dfa;
  color: #fff;
  border-radius: 8px;
  padding: 5px;
  margin: 0 3px;
  border: none;
  font-size: 1em;
}

input[name="addItem"] {
  margin-left: 25px;
}
// Primary: #129dfa
// Secondary: #fdcc44